# Demmarage du moteur de réécriture
RewriteEngine On

# Condition de réécriture
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Réécriture de l'URL
RewriteRule ^(.*)$ index.php [QSA,L]



